@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Mulish&family=Roboto:wght@400;700&display=swap');

/* ================
  1. Custom properties
==================*/
:root {
  --clr-purple: hsl(270, 50%, 40%);
  --ff-primary: 'Roboto', sans-serif;
}

/* ================
  2. Resets
==================*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ================
  3. Typography
==================*/
body {
  margin: 0;
  font-family: var(--ff-primary);
}

/* ================
  4.  Layout
==================*/
.flex {
  display: flex;
}
