@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

/* ===================
    1. Content variables
             & 
       global styles
  ===================*/

:root {
  --primary: #a367b1;
  --secondary: rgba(219, 151, 233, 1);
  --pink: #cd4173;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* ===================
    2. Layout
  ===================*/

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary);
}

header a {
  text-decoration: none;
  color: #fff;
}

.logo {
  font-size: 1.8rem;
  margin: 0.5rem;
}

.menu-links {
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  list-style: none;
}

.menu-links li {
  text-align: center;
  margin: 1px 0;
}

.menu-links li a {
  padding: 1rem;
  display: block;
  font-size: 1.3rem;
}

.menu-links li a:hover {
  background-color: var(--pink);
}

.menu-links.active {
  display: flex;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  width: 30px;
  height: 21px;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
}

.tabs-container {
  display: none;
  padding: 0 10px;
}

main {
  /* temporary */
  height: 70vh;
}

footer {
  display: flex;
  justify-content: center;
}

@media (min-width: 480px) {
  .burger {
    display: none;
  }

  .menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .menu-links li {
    margin: 0;
  }

  header {
    flex-direction: row;
    align-items: center;
  }

  .tabs-container {
    display: block;
  }
}

/* tabs */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  list-style: none;
  display: flex;
  background-color: #555;
  color: #fff;
  padding: 0;
}

.tab {
  margin: 0 20px;
}

.tab:hover {
  cursor: pointer;
  color: #000;
}
